apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agriculture
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Safaraliyev05/agriculture.git
    targetRevision: master
    path: agriculture
    helm:
      valuesFiles:
        values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
