django:
  replicaCount: 1
  image:
    repository: safaral1yev05/agriculture-django
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8000
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/path: "/metrics"
      prometheus.io/port: "8000"
  ingress:
    enabled: false
    className: ""
    annotations: { }
    hosts:
      - host: agriculture.local
        paths:
          - path: /
            pathType: Prefix
    tls: [ ]
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  livenessProbe:
    httpGet:
      path: /health
      port: 8000
    #    port: http
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /health
      port: 8000
    #    port: http
    initialDelaySeconds: 5
    periodSeconds: 5

celery:
  replicaCount: 1
  image:
    repository: safaral1yev05/agriculture-celery
    tag: latest
    pullPolicy: Always
  command:
    - celery
    - -A
    - root
    - worker
    - -l
    - info
  resources:
    limits:
      cpu: 300m
      memory: 512Mi
    requests:
      cpu: 150m
      memory: 256Mi

rabbitmq:
  image:
    repository: rabbitmq
    tag: 3.13-management-alpine
  auth:
    username: guest
    password: guest
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi

env:
  - name: DJANGO_SETTINGS_MODULE
    value: root.settings
  - name: CELERY_BROKER_URL
    value: amqp://guest:guest@rabbitmq:5672//
  - name: CELERY_RESULT_BACKEND
    value: rpc://
